{% extends 'layouts/base.html.twig' %}

{% block title 'Password Reset Email Sent' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h4>
                If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
            </h4>

            <h3 class="mt-4 text-danger">
                This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
            </h3>

            <h4 class="mt-4 text-muted"><em>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</em></h4>
        </div>
    </div>
{% endblock %}
